* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}
