* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  scroll-behavior: smooth;  
}

main{
    padding: 50px;
}

main > div {
    gap: 3rem;
}

header{
    color: white;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#container > figure {
  border-style: solid;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.navs{
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
}

.nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 2rem;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
  background-color: black;
}

.nav > ul > a {
  text-decoration: none;
  color: inherit;
}

.imageQue {
  width: 100%;
  object-fit: cover;
  padding: 50px;
  border-radius: 5%;
}

.image2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
